.NavbarOuterDiv{
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.NavbarOuterDiv div{
    width: 50%;
    margin-right: 60px;
}
.NavbarOuterDiv div ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.NavbarOuterDiv div ul li{
    list-style-type: none;
    font-size: 1.3rem;
    color: white;
}
a{
    text-decoration: none;
}